/Entrada.class
/Principal.class
/Ticketek.class
/TicketekTest.class
/ITicketek.class
/IEntrada.class
/ITicketekTest.class
/Espectaculo.class
/Funcion.class
/Sector.class
/Sede.class
/Estadio.class
/MiniEstadio.class
/Teatro.class
/Usuario.class
